body{
    margin: auto;
}
/* Header Start */
header{
    height:60px;
    background-color:black
}
h1 {
    display: block;
    font-size: 36px;
    margin-bottom: 2%;
    margin-block-start: 10px;
    margin-block-end: 0.67em;
    margin-inline-start: 15px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
}

#icon{
    float:left
}

.btn{
    background-color: white;
    color: black;
    font-size: 22px;   
    margin-bottom: 2%;
}

.btn > a{
    color: black;
}

#social{
    float:right
}

.slogo{
    height: 50px;
    width: 50px;
}

/* header end */

/* Search Start */
#search{
    height:400px;
    background-image: url('../image/food-wallpaper.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 400px;
}

#logo{
    height: 140px;
    width: 140px;
    background-color: bisque;
    border-radius: 19%;
    margin-left: 44%;
    margin-top: 2%;
    position: absolute;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    
}
#logo > span{

    font-size: 100px;
    margin-left: 27%;
    margin-top: 9%;
    position: absolute;
}

#heading{
    margin-left: 36%;
    margin-top: 13%;
    position: absolute;
    font-size: 36px;
    color: white;
}

.dropdown{
    height: 58px;
    width: 60%;
    margin-left: 26%;
    margin-top: 17%;
    position: absolute;
    
}
select{
    height: 45px;
    width: 35%;
    text-align: center;
}

.restlist{
    width: 52%;
}



a{
    text-decoration:none
}


/* QuickSearch Start */
#QuickSearch{
    height:600px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    
}
#Quickheading{
    color: orange;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    display: block;
    margin-left: 2%;

}
#Quicksubheading{
    line-height: 2;
    color: black;
    font-size: 20px;
    margin-left: 2%;

}
.tilecontainer{
    height: 200px;
    width: 30%;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 10px 20px 10px gray;
}
.tilecontainer1{
    width: 60%;
    float: left;
    height: 200px;
}

.tilecontainer1 > img{
    height: 200px;
    width: 100%;
}

.tilecontainer2{
    width: 30%;
    float: left;
    height: 100px;
    margin-left: 7%;
    margin-top: 15%;
}
#tilecontainer21{
    width: 30%;
    float: left;
    height: 100px;
    margin-left: 4%;
    margin-top: 15%;
}
.componentheading{
    font-size: 30px;
    color: orange;
}
.componentsubheading{
    color: gray;

}

.componentheading > a{
    color: orange;
}



/* footer Start */
footer{
    width: 100%;
    height:250px;
    background-color: black;
}

#footercontainer{
    width: 100%;
}

.footercontainer1{
    height: 208px;
    width: 31%;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 2px 0px 0px white;
}
.footercontainer1 > span{
    color: white;
    font-size: 30px;
}
.footercontainer1 > p{
    
    color: white;
}
.footercontainer1 > ul > li > a{
    color: white;
}
.footercontainer1 > ul{
    color: white;
}
#social1{
    float: left;
    margin-left: 15%;
    margin-top: 3%;
    
}
#copyright{
    text-align: center;
    line-height: 3;
    font-size: 20px;
}

/* footer end */