body{
    margin: auto;
}
a{
    text-decoration: none
}
/* Header Start */
header{
    height:60px;
    background-color:black
}
h1 {
    display: block;
    font-size: 36px;
    margin-bottom: 2%;
    margin-block-start: 10px;
    margin-inline-start: 15px;
    font-weight: bold;
    color: white;
}

#icon{
    float:left
}

#social{
    float:right
}

.slogo{
    height: 50px;
    width: 50px;
}

/* header end */
#heading{
    text-align: center;
}
#mainContent{
    height:550px;
    width:90%;
    margin-left:5%;
    margin-top:2%;
}
.imgDiv{
    height:470px;
    width:42%;
    float: left;
    border:5px groove gray
}
.imgDiv > img {
    height:470px;
    width:100%; 
}
#name{
    margin-top: 5%;
    color: black;
}
#off{
    color: white;
    background-color: darkblue;
    font-size: 20px;
}

#newprice{
    font-size: 20px;
    font-weight: bold;
}
#hurry{
    color: white;
    background-color: darkred;
    font-size: 20px;
}
.contentDiv{
    height:500px;
    width:55%;
    margin-left:2%;
    float: left;
    margin-top: -2%;
}
.feature_container{
    width:100%;
    display: inline-block;
}
.feature{
    
    float: left;
    margin-left:5%;
}
.imgIcon{
    height: 50px;
    width:50px;
    margin-left:2%
}
h2{
    font-size: 35px;
    color:green;
}
.fa-amazon{
    font-size:25px;
    color:orange
}
.checked{
    color:red
}
.btn{
    height:50px;
    width:200px;
    font-size:20px;
    color:white;
    background-color:rgb(191, 236, 123)
}

.btn-proceed{
    background-color:rgb(144, 145, 235)
}
/* footer Start */
footer{
    height:250px;
    background-color: black;
}

#footercontainer{
    width: 100%;
}

.footercontainer1{
    height: 208px;
    width: 31%;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 2px 0px 0px white;
}
.footercontainer1 > span{
    color: white;
    font-size: 30px;
}
.footercontainer1 > p{
    
    color: white;
}
.footercontainer1 > ul > li > a{
    color: white;
}
.footercontainer1 > ul{
    color: white;
}
#social1{
    float: left;
    margin-left: 15%;
    margin-top: 3%;
    
}
#copyright{
    text-align: center;
    line-height: 3;
    font-size: 20px;
}

/* footer end */